* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
  background-image: url("./assets/90s_style_background_with_pastel_geometric_shapes_generated.jpg");
}

.header {
  padding: 20px;
  font-family: 'Georgia', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2cd9df;
  color: #ffffff;
  box-shadow: 10px 10px black;
  margin-bottom: 20px;
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
  border: solid;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

.header h1 .seo {
  color: gold;
}

.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Georgia', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header div ul {
  list-style-type: none;
}

.header div ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 24px;
}

.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("./assets/90s_style_background_with_pastel_geometric_shapes_generated.jpg");
  background-size: cover;
  background-position: center;
  box-shadow: 10px 10px black;
}

.float-left {
  float: left;
  margin-right: 25px;
  box-shadow: 10px 10px black;
}

.content {
  width: 95%;
  display: inline-block;
  margin-left: 20px;
}

.float-bottom-right, .float-bottom-center {
  margin: 0% 5% 0%;
  flex: 1 0 0;
  padding: 0px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  justify-content: space-between;
  box-shadow: 10px 8px 2.5px black;

}

.about-me {
  margin-bottom: 50px;
  padding: 50px;
  height: 150px;
  font-family: 'Georgia', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #da83f0;
  color: #ffffff;
  border: solid;
}

.about-me-1{
  margin-bottom: 50px;
  padding: 50px;
  height: 400px;
  font-family: 'Georgia', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #b4b10d;
  color: #ffffff;
  border: solid;
}

.previous-work-title {
  margin-bottom: 50px;
  padding: 50px;
  height: 150px;
  font-family: 'Georgia', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f08383;
  color: #ffffff;
  border: solid;
}

.previous-work, .previous-work-2 {
  margin-bottom: 50px;
  padding: 50px;
  height: 600px;
  width: 550px;
  font-family: 'Georgia', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: solid;
}

.previous-work {
  background-color: #b4b643;
  color: #ffffff;
}

.previous-work-2 {
  background-color: #9f3e68;
  color: #ffffff;
}

.previous-work-3 {
  margin-bottom: 50px;
  padding: 50px;
  height: 150px;
  font-family: 'Georgia', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #11b06e;
  color: #ffffff;
  border: solid;
}

.contact-title {
  margin-bottom: 50px;
  padding: 50px;
  height: 150px;
  font-family: 'Georgia', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ca5710;
  color: #ffffff;
  border: solid;
}

.contact-info {
  margin-bottom: 50px;
  padding: 50px;
  height: 250px;
  font-family: 'Georgia', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ca8910;
  color: #ffffff;
  font-size: 20px;
  border: solid;
}

.contact-info, .previous-work-title, .previous-work, .previous-work-2, .previous-work-3, .about-me, .about-me-1, .about-me-2, .about-me-3, .about-me-4, .about-me-5 {
  box-shadow: 10px 10px black;
}

.about-me img {
  max-height: 200px;
}

.previous-work img, .previous-work-2 img {
  max-height: 175px;
  border: solid, black;
}

.contact-info img {
  max-height: 200px;
}

.about-me h2, .previous-work h2, .contact-info h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.footer {
  padding: 30px;
  clear: both;
  font-family: 'Georgia', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.footer h2 {
  font-size: 20px;
}

.certificate {
  padding-left: 10%;
}

.resume {
  padding-left: 17%;
}

.float-bottom-left {
  display: grid;
  border: solid;
}

.about-me-text, .previous-work-text, .previous-work-2-text, .previous-work-3-text, .contact-info-text {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: solid;
}

.about-me-text, .previous-work-text {
  background-color: #52501d;
}

.previous-work-2-text {
  background-color: rgba(5, 1, 5, 0.256);
}

.previous-work-3-text {
  background-color: #08603b;
}

.contact-info-text {
  background-color: #ae4b0e;
}

